@import url('https://fonts.googleapis.com/css2?family=Inter&family=Josefin+Sans:wght@600&display=swap');

:root {
    /* font sizes */
    --title: 6.146vw;
    --subtitle: 1.875vw;
    --text: 1.458vw;

    /* font colors */
    --blue: #4285F4;
    --light-blue: #BAD0E5;
    --dark-blue: #2D3E52;

    /* other */
    --title-margin: 1.481vw 0 1.481vw 0;
}

html {
    box-sizing: border-box;
}

*, *:before, *:after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    /* border: 1px solid red; */
}

body {
    min-height: 100vh;
}

#landing {
    display: flex;
    flex-direction: column;
    height: 100%;
}

#landing .row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#landing .row:nth-child(1) {
    background: white;
    /* min-height: 81.481vw; */
}

#landing .row:nth-child(2) {
    background-color: #415A77;
    min-height: 10vw;
    justify-content: flex-start;
}

#landing .row:nth-of-type(1) .col {
    flex: 1 1 auto;
}

#landing .row:nth-of-type(1) .col:nth-of-type(1) > p {
    font-family: 'Inter', sans-serif;
}

#landing .row:nth-of-type(1) .col:nth-of-type(1) #subtitle {
    font-size: var(--subtitle);
    color: var(--blue);
}

#landing .row:nth-of-type(1) .col:nth-of-type(1) #description {
    font-size: var(--text);
    color: var(--dark-blue);
}

#landing .row:nth-of-type(1) .col:nth-of-type(1) #overlap {
    display: flex;
    flex-wrap: wrap;
    margin: var(--title-margin);
}

#landing .row:nth-of-type(1) .col:nth-of-type(1) #overlap > p {
    width: 0%;
    font-family: 'Josefin Sans', sans-serif;
    font-size: var(--title);
    text-transform: uppercase;
}

#landing .row:nth-of-type(1) .col:nth-of-type(1) #overlap p:nth-of-type(1) {
    color: var(--light-blue);
}

#landing .row:nth-of-type(1) .col:nth-of-type(1) #overlap p:nth-of-type(2) {
    position: relative;
    bottom: 5px;
    left: 5px;
    color: var(--dark-blue);
}

#landing .row .col:nth-child(1) {
    margin-left: 10vw;
    margin-right: 1.667vw;
}

#landing .row .col:nth-child(2) {
    margin-left: 1.667vw;
    margin-right: 10vw;
}

#landing .row:nth-child(1) .col:nth-child(2) #portrait {
    position: relative;
    top: 10.370vw;

    max-width: 40vw;
    height: auto;
}

#landing .row:nth-child(2) .col {
    flex-direction: column;
}

#landing .row:nth-child(2) .col > p {
    flex: 1;
    font-size: var(--text);
}