@import url('https://fonts.googleapis.com/css2?family=Inter&family=Josefin+Sans:wght@600&display=swap');

:root {
    /* fonts */
    --josephin-sans: 'Josefin Sans', sans-serif;
    --inter: 'Inter', sans-serif;

    /* font sizes */
    --title: calc(6.146vw - 0.25vw);
    --subtitle: calc(1.875vw - 0.25vw);
    --text: calc(1.458vw - 0.25vw);

    /* colors */
    --blue: #4285F4;
    --light-blue: #BAD0E5;
    --blue-bg: #415A77;
    --dark-blue: #2D3E52;

    /* other */
    --title-margin: 1.481vw 0 1.481vw 0;
    --social-icon-size: 4vw;
    --borderWidth: 0.5vw;
}

html {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

*, *:before, *:after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    /* border: 1px solid red; */
}

body {
    min-height: 100vh;
}

#navigation {
    display: flex;
    flex-direction: column;
    position: fixed;
    min-height: 100vh;
    justify-content: center;
    align-items: flex-start;
    z-index: 99;
}

.dot-nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: transparent;
    width: 8vw;
    ;
    height: 15vh;
    list-style-type: none;
}

.dot {
    width: 1vw;
    height: 1vw;
    background-color: rgba(228, 228, 228, 0.75);
    border-radius: 100%;
    opacity: 100%;
}

.dot a {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 1vw;
    height: 1vw;
}

.current {
    background-color: var(--blue);
    transition: 0.8s;
}

/* Tooltip text */
.tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: var(--blue);
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    font-size: var(--text);
    font-family: var(--inter);

    /* Position the tooltip text */
    position: absolute;
    z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.dot-nav a:hover .tooltiptext {
    visibility: visible;
}

/* page 1 */
#landing {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

#landing .row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#landing .row:nth-child(1) {
    background: white;
    height: 80%;
    margin: 0 10vw;
    /* min-height: 81.481vw; */
}

#landing .row:nth-child(2) {
    background-color: var(--blue-bg);
    height: 20%;
    /* min-height: 10vw; */
    /* justify-content: space-around; */
}

#landing .row.row:nth-child(2) .wrapper {
    display: flex;
    width: 25%;
    margin: auto;
    margin-left: 10vw;
    justify-content: space-between;
}

#landing .row:nth-child(1) .col {
    flex: 1 1 auto;
}

#landing .row:nth-child(1) .col:nth-child(1)>p {
    font-family: var(--inter);
    line-height: 150%;
}

#landing .row:nth-child(1) .col:nth-child(1) p:nth-child(1)>span {
    display: inline-block;
}

#landing .row:nth-child(1) .col:nth-child(1) #subtitle {
    font-size: var(--subtitle);
    color: var(--blue);
}

#landing .row:nth-child(1) .col:nth-child(1) #description {
    font-size: var(--text);
    color: var(--dark-blue);
    margin-right: 8vw;
}

#landing .row:nth-child(1) .col:nth-child(1) #overlap {
    display: flex;
    flex-wrap: wrap;
    margin: var(--title-margin);
}

#landing .row:nth-child(1) .col:nth-child(1) #overlap>p {
    width: 0%;
    font-family: var(--josephin-sans);
    font-size: var(--title);
    line-height: 110%;
    text-transform: uppercase;
    white-space: nowrap;
}

#landing .row:nth-child(1) .col:nth-child(1) #overlap p:nth-of-type(1) {
    color: var(--light-blue);
}

#landing .row:nth-child(1) .col:nth-child(1) #overlap p:nth-of-type(2) {
    position: relative;
    bottom: 0.25vw;
    left: 0.25vw;
    color: var(--dark-blue);
}

#landing .row:nth-child(1) .col:nth-child(1) {
    margin: auto;
}

#landing .row:nth-child(1) .col:nth-child(2) {
    margin: auto;
}

#landing .row:nth-child(1) .col:nth-child(2) #portrait {
    position: relative;
    top: 6vw;

    max-width: 30vw;
    height: auto;
}

#landing .row:nth-child(2) .col {
    flex-direction: column;
    /* height: var(--social-icon-size); */
}

#landing .row:nth-child(2) .col>p {
    flex: 1;
    font-family: var(--inter);
    font-size: var(--text);
    color: white;
    text-decoration: underline;
}

#landing .row:nth-child(2) .col a:hover {
    cursor: pointer;
}

#landing .row:nth-child(2) .col .social-icon {
    width: var(--social-icon-size);
}

/* page 2 */
#about {
    position: relative;
    display: inline-block;
    width: 100%;
    height: 100vh;
    background-color: var(--blue-bg);
}

#about .row {
    display: flex;
    flex-direction: row;
    margin: 0 10vw;
}

#about .bg-text {
    position: absolute;
    top: 5.208vw;
    left: -2.604vw;
    font-family: var(--josephin-sans);
    font-size: 14.75vw;
    text-transform: uppercase;
    color: var(--dark-blue);
    opacity: 15%;
    overflow: hidden;
}

#about .col {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    flex: 1;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding-top: 5vh;
}

#about .col:nth-child(1) {
    align-items: flex-start;
    text-align: justify;
}

#about .col:nth-child(2) {
    max-width: 10vw;
}

#about .col:nth-child(3) {
    text-align: center;
}

#about .text-col {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.text-col>p {
    text-align: left;
}

.fg-text-wrapper {
    position: relative;
    width: auto;
    height: 0;
}

.fg-text {
    position: absolute;
    top: 12vw;
    left: 10vw;
    font-family: var(--josephin-sans);
    font-size: 3.5vw;
    color: white;
    text-transform: uppercase;
    margin-bottom: 4vw;
    z-index: 1;
}

#about #gradient-border {
    display: flex;
    align-items: center;
    justify-content: center;
    content: '';
    position: relative;
    height: calc(15vw + var(--borderWidth) * 2);
    width: calc(15vw + var(--borderWidth) * 2);
    /* background: linear-gradient(60deg, #f79533, #f37055, #ef4e7b, #a166ab, #5073b8, #1098ad, #07b39b, #6fba82); */
    background: linear-gradient(90deg, white, var(--light-blue), var(--blue), var(--blue-bg), var(--dark-blue), var(--blue-bg), var(--blue), var(--light-blue), white);
    border-radius: 100%;
    animation: animatedgradient 12s ease alternate infinite;
    background-size: 300% 300%;
}

#about #github-avatar {
    width: 95%;
    border-radius: 100%;
}

#about #github-bio, #about #github-hired {
    font-family: var(--inter);
    color: white;
}

#about #github-bio {
    font-size: 0.938vw;
    margin-top: 2vw;
    margin-bottom: 0.5vw;
    white-space: pre;
}

#about #github-hired {
    font-size: 0.938vw;
    margin-top: 0.5vw;
}

#about #about-me {
    font-family: var(--inter);
    font-size: 0.938vw;
    line-height: 150%;
    text-align: justify;
    color: white;
}

#overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
    cursor: pointer;
}

#about #resume {
    position: absolute;
    width: 80%;
    height: 80%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    z-index: 2;
}

#about #view-resume {
    display: inline-block;
    margin: 2vw auto;
    outline: none;
    cursor: pointer;
    border-radius: 3px;
    font-size: var(--text);
    padding: 0.1vw 1.25vw;
    height: 3vw;
    border: none;
    color: #fff;
    background-color: var(--blue);
    transition: background-color .17s ease, color .17s ease;
}

#about #view-resume:hover {
    background-color: var(--blue);
}

#projects {
    display: flex;
    min-height: 100vh;
    background-color: var(--blue-bg);
}

#github-projects {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

#github-projects li {
    list-style-type: none;
    margin: 1vw auto;
}

#github-projects a {
    font-size: var(--text);
    font-family: var(--inter);
    color: white;
}

/* hidden */
.text-fade-in {
    opacity: 0%;
}

.hide {
    visibility: hidden;
}

/* visible */
.show {
    opacity: 100% !important;
}

/* custom scrollbar */
::-webkit-scrollbar {
    width: 20px;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: #d6dee1;
    border-radius: 20px;
    border: 6px solid transparent;
    background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #a8bbbf;
}

/* animations */
/* typewriter */
.blinker-span {
    animation: blinker 1s linear infinite;
}

@keyframes blinker {
    50% {
        opacity: 0;
    }
}

@keyframes typewriter {
    from {
        width: 0;
    }

    to {
        width: 24em;
    }
}

@keyframes blinkTextCursor {
    from {
        border-right-color: rgba(255, 255, 255, .75);
    }

    to {
        border-right-color: transparent;
    }
}

/* hanging letters */
.hanging-animation {
    display: inline-block;
    transition: 0.25s;
}

.hanging-animation:hover {
    display: inline-block;
    transform: translateY(8px);
    color: var(--blue);
    transition: 0.25s;
}

/* growing icons */
.grow {
    transition: all .2s ease-in-out;
}

.grow:hover {
    transform: scale(1.1);
}

/* image border gradient */
@keyframes animatedgradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}